* {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: monospace;
    font-variant: small-caps;
    letter-spacing: 0.2em;
}
h1 {
    text-align: center;
    letter-spacing: 1em;
    font-size: 4em;

    /* title glow effect */
    -webkit-animation-name: titleGlow;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}
div.spanner {
    width: 100%;
    display: table;
    table-layout: fixed;
}
div.spanner span {
    display: table-cell;
    text-align: center;
}
span:hover {
    background-color: grey;
}

@-webkit-keyframes titleGlow {
  from {    -webkit-box-shadow: 0 0 9px white; }
  50% {     -webkit-box-shadow: 0 0 10px black; }
  to {      -webkit-box-shadow: 0 0 9px white; }
}
