<style>
    * {
        margin: 0;
        padding: 0;
        background-color: black;
        color: white;
        font-family: monospace;
        font-variant: small-caps;
        letter-spacing: 0.2em;
    }
    h1 {
        text-align: center;
        letter-spacing: 1em;
        font-size: 4em;
    }
</style>

<h1> nullportal </h1>

