<head>

    <title>N U L L P O R T A L</title>

    <link rel="icon" href="http://placehold.it/10x10" type="image/x-icon"> <!-- TODO update with bespoke -->

    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width'>
    <meta name='theme-color' content='#ffffff'>

    <link rel='stylesheet' href='https://bootswatch.com/cyborg/bootstrap.min.css'>
    <link rel='stylesheet' href='/nullportal-views/styles/style.css'>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<head>

<body>
    <h1> nullportal </h1>
    <div class='container'>
        <div class='spanner'>
            <span>lorem</span>
            <span>ipsum</span>
            <span>dolor</span>
            <span>sit</span>
            <span>amet</span>
        </div>
        <div class='well'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mattis, libero eget vulputate facilisis, erat dui tincidunt velit, non cursus lacus velit vitae nulla. Praesent luctus, purus at volutpat volutpat, dolor magna consectetur velit, id placerat tortor tellus vitae lacus. Fusce rutrum purus justo, sit amet consectetur nisi molestie nec. Mauris vel purus pretium, tempus erat eget, porttitor metus. Mauris pretium facilisis tortor ac varius. Fusce vel erat euismod, varius purus id, hendrerit turpis. Duis hendrerit eros eu risus tincidunt consectetur. Nunc sollicitudin sem eget erat auctor porta.

        Mauris facilisis felis ac pulvinar sodales. Phasellus convallis tellus in ligula mattis, quis rutrum felis congue. Fusce varius non lectus et pellentesque. Cras placerat eros vel quam molestie, porta semper nisi mollis. Donec augue risus, fermentum ultricies eros nec, tempus tristique dui. Aliquam erat volutpat. Aliquam tempus et ipsum sed blandit.

        Maecenas lacinia sem felis, nec vehicula augue volutpat et. Nulla tincidunt ante vitae sem rutrum, in consequat libero mattis. Nulla non mi nec ex pharetra mattis vel sit amet dui. Sed lorem enim, porttitor id ex vitae, placerat iaculis nisi. Suspendisse eget volutpat urna, et commodo ligula. Phasellus molestie nunc vel ipsum tristique congue. Vivamus et vulputate augue. Nulla rhoncus dolor vitae posuere pulvinar.

        Phasellus gravida sodales efficitur. Sed a mattis magna. Donec vitae laoreet odio. Suspendisse cursus odio dolor, et blandit dolor pharetra vitae. Curabitur consequat ornare mollis. Pellentesque eu risus mattis, ultrices purus quis, commodo enim. Nullam in accumsan odio. Maecenas commodo sollicitudin justo, posuere varius velit bibendum id. Phasellus felis enim, pulvinar ac congue eu, commodo iaculis urna. Sed ullamcorper ullamcorper erat, auctor tincidunt leo egestas sed. Morbi scelerisque suscipit egestas.

        Nulla facilisi. Etiam eu lobortis lorem. Ut vel dignissim dolor. Sed id imperdiet justo, ac fringilla ipsum. Nunc eu accumsan leo. Nunc ultricies malesuada dui, nec ornare massa sagittis at. Duis porta est ut lobortis rhoncus. Nunc sed elit ut erat pellentesque finibus eget quis enim. Ut molestie, sapien at porta facilisis, dolor metus consequat lorem, sit amet vehicula augue eros vel mauris.
        </div>
    </div>
</body>

<% include js/init %>
